@import 'normalize.css';
@import 'colors';
@import 'form';
@import 'vars';

html,
body {
  height: 100%;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: $gray-1;
}

#root {
  padding: $size-common;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.main {
  margin: 0 auto;
  padding: $size-common;
}

h1 {
  margin: 0;
}

.no-data {
  display: flex;
  justify-content: center;
  margin-top: $size-m;
  padding: $size-m;
  border-radius: $size-m;
  background: white;
}

.forms-list {
  list-style-type: none;
  margin: $size-m 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $size-m;
}
